*,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: red ;
}

.aa {
  font-size: 45px;
}

.sty {
  color: black;
}

#lessDiv{
  background-image:url('./../img/large.webp');
}